:root {
    --default-sizing-strategy: border-box;
    --default-body-width: 100dvv;
    --default-body-height: 100%;
    --default-form-elements-margin: 6px;
}

* {
    box-sizing: var(--default-sizing-strategy);
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    width: var(--default-body-width);
    height: var(--default-body-height);
}
